section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: rgba(245, 245, 245, 0.97);
}
.contact-information{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    background-color: rgba(224, 213, 213, 0.605);
    box-shadow: black 2px 2px 13px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.form-information{
    padding: 20px;
}

.form-information h3{
    margin-bottom: 1 rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.contact-form{
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea{
    border: none;
    outline: none;
    width: 100%;
    background: rgb(231 199 199 / 61%);
    padding: 10px;
    font-size: 0.9rem;
    color: rgba(87, 84, 84, 0.982);
    border-radius: 0.4rem;
}

.contact-form textarea #subject{
    border: none;
    outline: none;
    width: 100%;
    background: rgb(231 199 199 / 61%);
    padding: 10px;
    font-size: 0.9rem;
    color: rgba(87, 84, 84, 0.982);
    border-radius: 0.4rem;
    height: 30px;
    resize: none;
}

.contact-form textarea #message{
    resize: none;
    height: 200px;
}

.contact-form .send-btn{
    border: none;
    outline: none;
    background: rgb(216 168 159);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form .send-btn:hover{
    transition: 0.3s all linear;
    background: rgb(219, 140, 140);
}

.map iframe{
    width: 100%;
    height: 100%;

}

@media (max-width: 964px) {
    .contact-information{
        margin: 0px auto;
        width: 90%;
    }
}

@media (max-width: 700px) {
    .contact-information{
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-top: 20rem !important; */
    }
    .map iframe{
        height: 400px;
    }
}

.fa-map-marker, 
.fa-link,
.fa-phone,
.fa-envelope{
    font-size: 50px;
    /* background-color: white; */
    color: rgb(44 144 192);
    /* border-radius: 50%; */
}

.details{
    width: 80%;
    position: relative;
    left: 10%;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}