@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    max-width: 120rem;
    color: #fff;
    font-style: normal;
    cursor:default;


}
body{
    background-color: #141414;
    
}

:root{
    --main-color:#00c2cbed;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;

}

.menu_avez_movie ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.menu_avez_movie ul li{
    margin-left: 1rem;
    cursor: pointer;
}

.menu_avez_movie ul li:hover{
    color: var(--main-color);
}


.logo h1{
    color: var(--main-color);
    margin-top: 1rem;
}

/* MovieSLider */

.movieCards
{
    overflow-x: auto;
    display: flex;
    width: 100%;
}

.movieCard{
    margin: 2rem;
    height: 65vh;

}

.movieImg{
    width: 15rem;
    height: 27rem;

}

.movieImg img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movieContent{
    display: flex;
    background-color: #fff;
    height: 3.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #000;
    font-size: 1.5rem;
}


.addFav{
    color: rgba(255, 0, 0, 0.662);
    width: 40px;
    height: 30px;
    border-radius: 7px;
    border: 2px solid rgba(255, 0, 0, 0.662);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addFav:hover{
    background-color: rgba(255, 0, 0, 0.9);
    border:none;
    color: wheat;

}

.movieCard:hover{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.1);
}

::-webkit-scrollbar{
    background: #5c554817;
    height: 10px;
    border-radius: 10
}

::-webkit-scrollbar-thumb{
    background-color: #5c554863;
}

.main-section{
    height: 100vh;
}

.avez_movie_main_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.avez_movie_main_content{
    width: 50%;
}

.avez_movie_main_content h1{
    font-size: 4rem;
}

.avez_movie_main_content h2{
    font-size: 3rem;
}


.avez_movie_main_content h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}


.avez_movie_main_content span{
    color: #00c2cbed;
}

.avez_movie_main_image{
    width: 600px;
}

.avez_movie_main_image img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.avez_movie_btn{
    margin-top: 2rem;

}

.avez_movie_btn a{
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 50px;
    background:linear-gradient(660deg, black, var(--main-color));
    border-radius: 10px;
}

.avez_movie_btn a:hover{
    background:linear-gradient(90deg, black, var(--main-color));

}

.movieName{
    color: black !important;

}


.avez_section2 {
    height: 100vh;
    margin-top: -15rem;
    margin-bottom: -38rem;
}

.avez_search_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.avez_search_title span {
    color: var(--main-color);
}

.avez_search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.avez_search input {
    width: 800px;
    height: 40px;
    outline: none;
    border: none;
    color: black;
    padding: 7px;
    border-radius: 3px;
    font-size: 1.1rem;
    margin-top: 2rem;
}

.avez_search button {
    height: 40px;
    color: #000;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.avez_movie_favourites{
    margin: 3rem;
}


.footer_section_avez{
    padding-top: 2rem;
    background-color: #34312b42;
}

.avez_movie_footer_container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.avez_movie_footer_desc{
    width: 50%;
}

.branding_avez_dev{
    text-align: center;
    margin-top: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #151515;
}

.avez_movie_footer_logo h1{
    font-size: 4rem;
}

.avez_movie_footer_logo h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    padding-bottom: 2rem;
}

li{
    list-style: none;
}

.avez_movie_socials ul li i{
    background-color: #151515;
    display: inline;
    padding: 16px 25px;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}

.avez_movie_socials ul li i:hover{
    color: #00c2cbed;
}

.avez_movie_socials ul{
    padding-bottom: 2rem;

}

.avezProductSection{
    text-align: center;
    height: 100vh;
}

.avezProductSection h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.avezCardsTimer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 17px 50px 0 rgba(11,20,26,.19),0 12px 15px 0 rgba(11,20,26,.24);
}

.avezCardTimer{
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    margin: 1rem;
}

.imageTimer{
    width: 300px;
    height: 300px;
}

.imageTimer img{
    width: 100%;
    height: 100%;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}

.title{
    color: #000;
    margin-top: 10px;
}
