@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(pattern_background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

nav {
  height: 15vh;
  background-color: #152932;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
}

.menu a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.menu a:hover {
  color: #00c2cb;
  font-size: 22px;
  text-decoration: none;
}

.has-submenu {
  z-index: 100;
}

.menu,
.submenu {
  list-style-type: none;
}

.menu {
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu .logo {
  margin-right: 80px;
}
.logo img{
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: 2px solid #00c2cb;
  box-shadow: #00c2cb 0px 5px 15px;
  margin-top: 5px;
}
.item {
  padding: 10px;
}

.button1 {
  height: 20px;
  margin-left: 30px;
  margin-right: -12px;
}

.button1 a {
  color: black;
  padding: 9px 5px;
  border-radius: 8px;
}

.button1 a:hover {
  color: white;
  font-size: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.searched {
  left: 20px;
}

.menu input {
  border-radius: 8px;
  border: 1px black solid;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu>a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
}

.submenu-active {
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: space-evenly;
  }

  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

  /* Button up from tablet screen */
  .menu li.button a {
    padding: 7px 10px;
    margin: 5px 0;
  }

  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }

  .button a:hover {
    text-decoration: none;
  }
}

/* Desktop menu */
@media screen and (max-width:1160px){
  .menu input{
    display: none;
  }
}

@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    width: auto;
  }

  .subitem a {
    color: white;
    background-color: #152932;
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }
}

.carousel {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 100%;

    height: 30vh;

  }

  .active {
    width: 100%;
    margin: 0px;

  }

  .slide {
    width: 100%;
    margin: 0px;
  }

  .card {
    width: 70%;
    height: 100px;

  }
}

.slide {
  display: none;
}

.active {
  display: block;
  background-color: white;
  animation: fade 1.4s;
  object-fit: contain;
  width: 75%;
  aspect-ratio: 16/9;
  text-align: center;
  margin: auto;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

/*card styles*/

.card {
  width: 250px;
  height: 350px;
  /* color: white; */
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  position: relative;
}


.goto-btn {
  text-decoration: none;
  color: black;
  background-color: #1da1f2;
  font-size: 1.1rem;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  transition: all 0.1s;
  width: min-content;
  color: white;
  font-size: 1rem;
  position: center;
  bottom: 3rem;
}

.goto-btn:hover {
  outline: 4px solid #1187d192;
}


@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: aqua;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(58 58 173);
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 15px;

}

.container20{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
}

    .card1 {
      position: relative;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #000;
      border-radius: 15px;
      box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    }

      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .face1 {
          box-sizing: border-box;
          padding: 20px;
        }

          h2 {
            margin: 0;
            padding: 0;
          }

          .java {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .python {
            background-color: #00fffc;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .cSharp {
            background-color: #fc00ff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
    

        .face2 {
          transition: 0.5s;
        }

          .card1 .h2 {
            margin: 0;
            padding: 0;
            font-size: 10em;
            color: #fff;
            transition: 0.5s;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 10;
          
        }

    .card1:hover .face.face2 {
      height: 60px;}

      h2 {
        font-size: 2em;
      }
   

    .card1:nth-child(1) .face.face2 {
      background: url("./music.png");
      background-size: cover;
      border-radius: 15px;
    }

    .card1:nth-child(2) .face.face2 {
      background: url("./todoman.png");
      background-size: cover;
      border-radius: 15px;
    }

    .card1:nth-child(3) .face.face2 {
      background: rgba(255, 255, 255, 0.9) url("./timer.jpg");
      background-size: cover;
      border-radius: 15px;
    }
    .card1:nth-child(4) .face.face2 {
      background: rgba(255, 255, 255, 0.9) url("./Screenshot\ 2022-10-10\ 120912.png");
      background-size: cover;
      border-radius: 15px;
    }
  
