body {
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #eee;
  background: #353535;
  background-image: url(https://source.unsplash.com/1920x1080/?landscape);
}

h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: #f47321;
  text-shadow: 2px 2px #ff0000;
}
.take-date {
  text-align: center;
  color: #f47321;
  /* text-shadow: 2px 2px #ff0000; */
  /* font-size: 20px; */
}
.Countdown-date {
  font-size: 20px;
}
.submit-btn {
  margin-top: 15px;
}
.heading-title {
  text-align: center;
}
#countdown {
  width: 90%;
  max-width: 465px;
  height: 150px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 2em 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #343434bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -42px;
}

.slide {
  display: none;
}

.active {
  display: block;
  background-color: white;
  animation: fade 1.4s;
  object-fit: contain;
  width: 800px;
  aspect-ratio: 16/9;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 350px;
  background-color: #f47321;
  border-radius: 2rem;
  padding: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* .circle {
  background-color: #f47321;
  width: 400px;
  height: 400px;
  left: -12%;
  border-radius: 50%;
  position: fixed;
  bottom: -15%;
  margin: 0;
  padding: 0;
  z-index: -20;
  overflow: hidden;
} */
.card-container a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 1.1rem;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  border: 3px solid white;
  transition: all 0.1s;
}

.card-container a:hover {
  border: 3px solid black;
}

.card h3 {
  text-align: center;
  margin-bottom: 5px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
