@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #343434bf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: none;
}

.active {
  display: block;
  background-color: white;
  animation: fade 1.4s;
  object-fit: contain;
  width: 800px;
  aspect-ratio: 16/9;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}
/*card styles*/

.card {
  width: 250px;
  height: 350px;
  /* color: white; */
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.card.bg-3 {
  background: rgba(255, 255, 255, 0.9)
    url("./pexels-anton-makarenko-1078057.jpg");
  background-size: cover;
}

.card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  /* position: relative; */
  opacity: 0;
  transition: opacity 500ms ease;
}

.bg-1 {
  background: url("./pexels-darwis-alwan-1808329.jpg");
  background-size: cover;
}

.bg-2 {
  background: url("./pexels-eberhard-grossgasteiger-1064162.jpg");
  background-size: cover;
}

.goto-btn {
  text-decoration: none;
  color: black;
  background-color: #1da1f2;
  font-size: 1.1rem;
  padding: 0.25em 0.5em;
  border-radius: 6px;
  transition: all 0.1s;
  width: min-content;
  color: white;
  font-size: 1rem;
  position: absolute;
  bottom: 3rem;
}

.goto-btn:hover {
  outline: 4px solid #1187d192;
}

.card:hover .card-content {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.253);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


/* Footer-CSS */
.footer{
  display: flex;
  background-color: #e6976f;
  margin-top: 15em;
  margin-bottom: 0em;
  font-family: 'Roboto Slab', serif;
  color: #000;
  position: relative;
  bottom: -4em;
}

.footer h3{
  margin: 2em;
}
.footer h3:hover{
  color: whitesmoke;
}

.footer h4{
  margin: 2em;
  margin-top: 2.5em;
}
.footer h4:hover{
  color: whitesmoke;
  cursor: pointer;
}

.social-media h4{
  margin-bottom: 1em;
  margin-left: 2.5em;
}

.social-media i{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0em;
  margin-bottom: 2em;
}
.facebook:hover{
  color: blue;
  transform: scale(1.5);
  cursor: pointer;
}
.instagram:hover{
  color: #e11d74;
  transform: scale(1.5);
  cursor: pointer;
}
.twitter:hover {
  color: #00adb5;
  transform: scale(1.5);
  cursor: pointer;
}
