*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(90deg ,#630ab6,#d29e62,#b983dd );
    font-family: Poppins, sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.container{
    margin-left: 700px;
    /* margin-top: 50px; */
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 100px 0;
    /* color: white; */
    border: 2px solid gray;
    border-radius: 10px;
    /* background:linear-gradient(90deg ,#ec2c2c,#d29e62,#e9993d ); */
    background-color: white;
    box-shadow: 10px 10px 19px #241f1f;
    padding-bottom: 50px;
    align-items: center;
}

#line{
    width:30px;
    height:2px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;

}
/* .task #add-task{
    width: 40px;
    height: 50px;
    
} */
.flex-button{
    display: inline;
    width: 20%;
    
}
.flex-button #add-btn{
    
    margin: 5px;
}

input{
    border:none;
    border-radius: 10px;
}
input[type='text']{
    width: 50%;
    margin-top: 10px;
    padding: 5px 10px;
    outline: none;
    font-size: 1.2rem;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: #d8b8f9;
    border-bottom: 1px solid #c3aeaea1;
    cursor:pointer;
    display: flex;
    float: left;
}
input[type='text']:disabled{
    cursor:default;
    color: rgb(0, 0, 0);
    background-color: #c3aeaea1;
    
}
input[type='button']{
    padding: 5px;
    font-size: 1.04rem;
    color:white;
    margin: 0 -3px;
}
#add-btn{
    margin-right: -1px;
    background-color: #eb9797;
    /* border-radius: 10px 0px 0px 10px; */
    height: 40px;
    width: 40px;
}

#del-btn{
    background-color: #540a0a;
    /* border-radius: 0 10px 10px 0px; */
    height: 40px;
    width: 40px;
}

input[type='button']:active{
    transform: scale(.94);
}

#add-btn:hover{
    border: 2px solid #540a0a;
    cursor: pointer;
}
#del-btn:hover{
    border: 2px solid #e9adad;
    cursor: pointer;
}
input[type='button']:hover{
    cursor: pointer;
}

.new-tasks{
    margin-left: 15px;
    width: 80%;
}
.new-tasks #added-task{
    border-radius: 10px 0px 0px 10px;
}
.new-tasks input[type='button']{
    margin-top: 10px;
    height: 40px;

}
.update-task{
    
    border-radius:0px;
    background-color: #3dc916;
    
}
.rename-task{
    background-color: #e9adad;
    border-radius:0px;
}


.del-task{
    background-color: #540a0a;
    border-radius:0px 10px 10px 0px;
}

.task{
    width: 100%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    
}
.task-buttons{
    margin: 100px;
}

#add-task{
    border-bottom: 1px solid gray;
}


@media screen and (max-width:450px) {
    .task{
        display: inline;
    }
    .flex-button{
        display: block;
        
    width: 100%;
    }
}