@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

/* body {
  font-family: "Roboto", sans-serif;
  background: #d2eaf1;
} */

.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.circle-wrap {
  /* margin: 150px auto; */
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 30px;
  text-align: center;
  padding-top: 30px;
  margin-top: 4px;
  margin-left: 4px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  /* animation: fill ease-in-out 3s; */
  transform: rotate(180deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
body {
  font: normal 13px/20px Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  color: #eee;
  background: #353535;
  background-image: url(https://source.unsplash.com/1920x1080/?landscape);
}

h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
  color: #f47321;
  text-shadow: 2px 2px #ff0000;
}
.take-date {
  text-align: center;
  color: #f47321;
  /* text-shadow: 2px 2px #ff0000; */
  /* font-size: 20px; */
}
.Countdown-date {
  font-size: 20px;
}
.submit-btn {
  margin-top: 15px;
}
.heading-title {
  text-align: center;
}
#countdown {
  width: 90%;
  max-width: 465px;
  height: 150px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 2em 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

#countdown:after {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
}

#countdown #tiles {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

#countdown #tiles > span {
  width: 20%;
  max-width: 92px;
  font: bold 3rem "Droid Sans", Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image: -moz-linear-gradient(top, #bbb, #eee);
  background-image: -ms-linear-gradient(top, #bbb, #eee);
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before {
  content: "";
  width: 100%;
  height: 15px;
  background: #111;
  display: block;
  padding: 0 5px;
  position: absolute;
  top: 41%;
  left: -5px;
  z-index: -1;
}

#countdown #tiles > span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

#countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  margin: 8px 0;
  display: flex;
  justify-content: space-around;
}

#countdown .labels li {
  width: 102px;
  font: bold 15px "Droid Sans", Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.outline {
  background-color: #343434bf;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -20;
}

/* .circle {
  background-color: #f47321;
  width: 400px;
  height: 400px;
  left: -12%;
  border-radius: 50%;
  position: fixed;
  bottom: -15%;
  margin: 0;
  padding: 0;
  z-index: -20;
  overflow: hidden;
} */

@media (max-width: 1024px) {
  .circle {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 480px) {
  #countdown {
    height: 120px;
  }
  #countdown #tiles > span {
    font: bold 2.15rem "Droid Sans", Arial, sans-serif;
  }

  h1 {
    font-size: 3.5rem;
    margin-top: 35%;
  }

  .circle {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 320px) {
  #countdown {
    height: 110px;
  }
  #countdown #tiles > span {
    font: bold 2rem "Droid Sans", Arial, sans-serif;
  }

  h1 {
    font-size: 3rem;
    margin-top: 40%;
  }
}
.navbar {
  background-color: #e6976f;
}
.nav-item {
  font-size: 120%;
}



/* Footer-CSS */
.footer{
  display: flex;
  background-color: #e6976f;
  margin-top: 15em;
  margin-bottom: 0em;
  font-family: 'Roboto Slab', serif;
  color: #000;
  position: relative;
  bottom: -4em;
}

.footer h3{
  margin: 2em;
}
.footer h3:hover{
  color: whitesmoke;
}

.footer h4{
  margin: 2em;
  margin-top: 2.5em;
}
.footer h4:hover{
  color: whitesmoke;
  cursor: pointer;
}

.social-media h4{
  margin-bottom: 1em;
  margin-left: 2.5em;
}

.social-media i{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0em;
  margin-bottom: 2em;
}
.facebook:hover{
  color: blue;
  transform: scale(1.5);
  cursor: pointer;
}
.instagram:hover{
  color: #e11d74;
  transform: scale(1.5);
  cursor: pointer;
}
.twitter:hover {
  color: #00adb5;
  transform: scale(1.5);
  cursor: pointer;
}
