* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-size: 10px;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3.6em 5em;
}

.music-card {
    display: flex;
    border-radius: 15px;
    box-shadow: black 2px 2px 7px;
    align-items: center;
    margin-bottom: 2em;
    cursor: pointer;
    background-color: rgb(0 0 0 / 40%);
    padding: 2em;
    transition: all 1s ease-in-out;
}

.music-card:hover {
    transform: scale(0.85);
}

#currentInstrument {
    font-family: monospace;
    background-color: black;
    padding: 0.3em;
}

body>h2 {
    padding-top: 0.5em;
    text-align: center;
    color: white;
}